.filterCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--lightBlack2);
    font-weight: bold;
    height: auto;
    width: 100%;
}

.filterCardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    padding: 12px;
    width: 100%;
}

.filterContent {
    border-top: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}