.overviewTitle {
    display: flex;
    flex-direction: column;
}

.overview_Title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    font-size: 1.3em;
}

.title_Date {
    color: #dcdcda;
}

.overviewFacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1em;
}

.titleDate {
    color: #dcdcdb;
}

.overviewCert {
    border: 1px solid #a5a2a2;
    border-radius: 2px;
    color: #a5a2a2;
    padding: 0 4px;
}

.bulletPoint {
    font-size: 1.2em;
}