.company_media_card {
    display: flex;
    align-items: center;
    gap: 15px;

    border: 1px solid var(--lightGrey);
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--lightBlack2);
    height: 141px;
    width: 100%;
}

.company_media_image {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 141px;
    width: 94px;
}

.company_media_card a {
    color: #000;
    text-decoration: none;
    max-height: 141px;
}

.company_media_card a:hover {
    color: var(--lightBlue);
}

.media_card_details p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.media_card_title h2 {
    font-size: 1.2rem;
}