.person {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;

    border: 1px solid var(--darkerWhite);
    box-shadow: 0px 0px 3px 2px var(--darkerWhite);
    height: 100%;
    width: 100%;
}

.person img {

    object-fit: cover;
    height: 235px;
    max-width: 235px;
}

.personInfo {
    padding: 10px 8px;
}

.noImage {
    background-color: var(--darkerWhite);
}