.credits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    background-color: cornflowerblue;
    width: 100%;
}

.credits_Header {
    font-size: 18px;
}