.knownFor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    height: auto;
    max-width: 100%;
}

.knownFor_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    overflow-x: scroll;
    height: auto;
    width: 100%;
}