.popularPeople {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 100%;
    width: auto;
}

.popularPeople h2 {
    padding: 25px 0;
}

.people_content {
    display: grid;
    grid-template-columns: repeat(5, 235px);
    grid-template-rows: repeat(auto, 1fr);
    gap: 30px;
    
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1350px) {
    .people_content {
        grid-template-columns: repeat(4, 235px);
    }
}

@media only screen and (max-width: 1080px) {
    .people_content {
        grid-template-columns: repeat(3, 235px);
    }
}

@media only screen and (max-width: 810px) {
    .people_content {
        grid-template-columns: repeat(2, 235px);
    }
}

@media only screen and (max-width: 560px) {
    .people_content {
        grid-template-columns: repeat(1, 540px);
    }
}