.personInformation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;

    background-color: crimson;
    padding-top: 30px;
    
    height: 100%;
    max-width: 75%;
}

.personInformation_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;

    flex: 0 0 300px;

    background-color: cadetblue;
    height: 100%;
    width: 300px;
    max-width: 300px;
}

.personInformation_left img {
    border-radius: 8px;
    object-fit: cover;
    height: auto;
    width: 100%;
}

/* Width is still fucked */
.personInformation_right {  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;

    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;

    background-color: burlywood;
    
    height: 100%;
    width: 75%;
}