.personInformation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: 75%;
}

.personInformation_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;

    background-color: bisque;
    height: 100%;
    width: auto;
}

.personInformation_left img {
    border-radius: 8px;
    object-fit: cover;
    height: auto;
    width: 300px;
}

.personInformation_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;

    padding-left: 30px;
    height: 100%;
    width: 75%;
}