.castCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;    

    border: 1px solid var(--darkerWhite);
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--lightBlack2);
    height: 100%;
    width: 140px;
}

.castCard img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
    height: 175px;
    width: 138px;
    min-width: 138px;
}

.castCard_Info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
    height: auto;
    width: 140px;
}

.castCard_Info h4:hover {
    color: var(--lightBlack);
}

.castCard_Info p {
    font-size: 14px;
}

.castCard a {
    color: #000;
    text-decoration: none;
}