.overview_description {
    height: auto;
    width: 100%;
}

.overview_description h2 {
    font-weight: 600;
}

.tagline {
    color: var(--liteGrey);
    font-size: 1.2em;
    font-style: italic;
    padding-bottom: 10px;
}