.overview_media {
    display: flex;
    flex-direction: column;
    gap: 20px;

    border-top-left-radius: 8px;
    padding-bottom: 30px;
    height: auto;
    width: 100%;
}

.media_header {
    display: flex;
    align-items: center;
    gap: 50px;

    height: auto;
    width: 100%;
}

.media_header h2 {
    font-weight: 600;
}

.media_nav {
    display: flex;
    align-items: center;
    gap: 20px;

    height: auto;
    width: auto;
}

.media_nav h4 {
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}

.media_nav span {
    color: var(--rating);
}

.media_main{
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    width: 100%;
}

.media_poster {
    height: 300px;
    width: 200px;
}

.media_poster img {
    height: 300px;
    width: 200px;
}

.media_backdrop:first-child,
.media_backdrop:first-child img,
.media_poster:first-child, 
.media_poster:first-child img {
    border-top-left-radius: 8px;
}

.media_view_all {
    color: var(--lightBlue);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-left: auto;
}