.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    padding-bottom: 25px;
    height: 100%;
    width: 100%;
}

.overview_main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: 75%;
}

.dividerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    height: 100%;
    width: 72%;
}

.dividerRight {

    background-color: indianred;
    height: 100%;
    width: 28%;
}