.review_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

    border: 1px solid var(--borderGrey);
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--lightBlack2);
    padding: 20px;

    height: auto;
    width: 100%;
}

.review_header {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 20px;
    height: auto;
    width: 100%;
}

.review_header img {
    border-radius: 50%;
}

.review_title div {
    display: flex;
    align-items: center;
    gap: 15px;

    height: auto;
    width: 100%;
}

.review_rating {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    padding: 3px 10px;
}

.la-star {
    font-size: 12px;
}

.review_writtenBy {
    color: var(--lightBlack);
    font-size: 14px;
}

.review_content {

    padding-left: 84px;
    height: auto;
    width: 100%;
}