.overview_social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    
    padding-bottom: 20px;
    height: auto;
    width: 100%;
}

.social_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    
    height: auto;
    width: 100%;
}

.social_header h2 {
    font-weight: 600;
}

.social_header ul {
    list-style-type: none;
}

.social_header li {
    border-bottom: 3px solid black;
    font-size: 18px;
    font-weight: 600;
}

.social_header span {
    color: var(--rating);
    font-size: 18px;
    font-weight: 600;
}

.social_content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: auto;
    width: 100%;
}

.social_content strong {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.social_content strong:hover {
    color: var(--lightBlack);
}