.overview_title {
    display: flex;
    flex-direction: column;
}

.overview_title_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    font-size: 1.3em;
}

.overview_title_facts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1em;
}

.overview_title_date {
    color: #dcdcdb;
}

.overview_title_rating {
    border: 1px solid #a5a2a2;
    border-radius: 2px;
    color: #a5a2a2;
    padding: 0 4px;
}

.bulletPoint {
    font-size: 1.2em;
}