.overview_title {
    display: flex;
    flex-direction: column;
}

.overview_title_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    font-size: 1.9em;
}

.overview_title_facts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1em;
}

.overview_title_date {
    color: var(--lightGrey_2);
    font-weight: normal;
}

.overview_title_rating {
    border: 1px solid var(--rating);
    border-radius: 2px;
    color: var(--rating);
    padding: 0 4px;
}

.bulletPoint {
    font-size: 1.2em;
}