.topBilledCast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;

    height: 100%;
    width: 100%;
}

.topBilledCast h3, .topCast {
    padding-left: 15px;
}

.topCast {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    overflow-x: scroll;
    padding-bottom: 15px;
    
    height: auto;
    width: 100%;
}

.viewMore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 100%;
    min-width: 140px;
}