.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 18%;

    height: auto;
    width: 185px;
}

.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 100px;

    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 12px;
    padding: 20px 10px;
    height: 100%;
    width: 185px;
}