* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --tmdbDarkBlue: rgb(3, 37, 65);
}

body {
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
    width: 100%;
}