* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --borderGrey: #d7d7d7;
    --darkBlue: rgb(3, 37, 65);
    --darkerWhite: #e3e3e3;
    --darkWhite_2: #e4e7eb;
    --lightBlack: rgba(0, 0, 0, 0.6);
    --lightBlack2: rgba(0, 0, 0, 0.1);
    --lightBlack_3: #212529;
    --lightBlue: rgb(1, 180, 228);
    --lightGreen: rgb(30, 213, 169);
    --lightGrey_2: #ced3db;
    --lighterGrey: rgba(227, 227, 227, 0.24);
    --rating: #a5a2a2;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#root {
    height: 100%;
    width: 100%;
}