.resultPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    row-gap: 25px;

    padding: 25px;
    height: auto;
    width: 100%;
}