.sort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    background-color: white;
    height: auto;
    width: 250px;
}

.sortForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: auto;
    width: 100%;
}