.sort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    height: auto;
    width: 100%;
}

.sort label {
    font-weight: normal;
}

.sort select {
    background-color: #ced3db;
    border: 1px solid #ced3db;
    border-radius: 4px;
    color: #212529;
    cursor: pointer;
    padding: 6px;
    width: 100%;
}