.sort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    background-color: white;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.22);
    font-weight: bold;
    height: auto;
    width: 250px;
}

.sortTitle {
    padding: 12px;
    width: 100%;
}

.sortContent {
    border-top: 1px solid rgba(184, 183, 183, 0.5);
    padding: 12px;
    width: 100%;
}

.sortForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    height: auto;
    width: 100%;
}

.sortForm select {
    padding: 5px;
    width: 100%;
}