.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: 100%;
    width: 147px;
}

.card img {
    border-radius: 8px;
    height: 225px;
    width: 145px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    font-size: 15px;
    padding: 20px 10px;
    height: auto;
    width: 145px;
}

.showDate {
    color: #666666;
}