.home_media_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: 100%;
    width: 147px;
}

.home_media_card img {
    border-radius: 8px;
    height: 225px;
    width: 145px;
}

.home_media_card a {
    text-decoration: none;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 15px 10px;
    height: auto;
    width: 145px;
}

.card_content h2 {
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.card_content h2:hover {
    color: var(--lightBlue);
}

.showDate {
    color: var(--lightBlack);
    font-size: 1rem;
}