.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    height: auto;
    width: 100%;
}

.search input {
    border: none;
    border-radius: 25px;
    color: var(--lightBlack);
    font-size: 16px;
    padding-left: 20px;
    height: 46px;
    width: 100%;
}

.search input:focus {
    outline: none;
}

.search button {
    background: linear-gradient(to right, var(--lightGreen) 0%, var(--lightBlue) 100%);
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 0 30px;
    position: absolute;
    right: 0;
    height: 100%;
    width: auto;
}

.search button:hover {
    color: var(--darkBlue);
}