/* .sliderNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: auto;
}

.sliderNav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid var(--darkBlue);
    border-radius: 25px;
    list-style-type: none;
}

.sliderNav ul li {
    cursor: pointer;
    padding: 3px 20px;
}

.activeTab {
    background-color: var(--darkBlue);
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
} */