.company {
    display: flex;
    align-items: center;
    gap: 10px;

    border-bottom: 1px solid #cccccc;
    list-style: none;
    height: auto;
    width: 100%;
}

.company p {
    font-size: 20px;
    padding: 5px 0;
}

.company span {
    background-color: #cccccc;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: normal;
    padding: 2px 8px;
}