.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    width: 100%;
}

.filter:hover {
    background-color: var(--darkerWhite);
}

.filter:hover > .filter_number {
    background-color: #fff;
}

.filter_title {
    cursor: pointer;
}

.filter_number {
    background-color: var(--darkerWhite);
    border-radius: 10px;
    font-size: 14px;
    padding: 2px 13px;
}