.search_media_card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

    border: 1px solid var(--darkerWhite);
    border-radius: 8px;

    height: auto;
    width: 100%;
}

.search_media_card a {
    color: #000;
    text-decoration: none;

    height: 141px;
    width: 94px;
}

.result_cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;

    width: 100%;
}

.result_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
}

/* People Styling */

/* Companies Styling */
.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}

.companies span {
    background-color: var(--darkerWhite);
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 2px 3px;
}