.resultsPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    justify-items: center;

    height: 100%;
    width: 100%;
}

.resultsPage_Search {
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #e3e3e3;
    width: 100%;
}

.resultsPage_Content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    
    padding-top: 30px;
    height: 100%;
    width: 75%;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border: 1px solid #e3e3e3;
    border-radius: 8px;

    height: auto;
    min-width: 260px;
}

.filters h3 {
    background-color: #01b4e4;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    font-weight: 600;
    padding: 20px 20px;
    width: 100%;
}

.filter_List {
    padding: 10px 0;
    height: auto;
    width: 100%;
}