.resultsPage_Search form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    height: 100%;
    width: 75%;
}

.resultsPage_Search form input {
    border: none;
    caret-color: #b6b4b4;
    color: #6b6b6b;
    cursor: text;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-style: italic;

    height: 100%;
    width: 100%;
}

.resultsPage_Search form input:focus {
    outline: none;
}

.la-search {
    font-size: 18px;
    transform: scaleX(-1);
}

.la-times {
    cursor: pointer;
    font-size: 14px;
}