header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--darkBlue);
    color: #fff;
    height: auto;
    width: 100%;
}