header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--tmdbDarkBlue);
    color: #fff;
    height: 75px;
    width: 100%;
}