.logo {
    font-size: 24px;
    white-space: nowrap;
    width: 100%;
}

.logo h3 {
    background-image: linear-gradient(to right, var(--lightGreen) 0%, var(--lightBlue) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}