.credits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    background-color: cornflowerblue;
    width: 100%;
}

.credits_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    width: 100%;
}

.credit_Filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}