.overview_navigation {
    display: flex;
    justify-content: center;

    border-bottom: 1px solid var(--borderGrey);
    padding: 8px 0;
    height: auto;
    width: 100%;
}

.navigation_company {
    display: flex;
    justify-content: center;
    gap: 45px;

    height: auto;
    width: 75%;
}